In [4]:
import numpy as  np
import pandas as pd
from matplotlib import pyplot as plt

In [8]:
plt.rcParams['figure.figsize']=(20.0,10.0)

#reading data
data=pd.read_csv('f:\machine learning\headbrain.csv')
print(data.shape)
data.head()

(237, 4)

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [17]:
X=data["Head Size(cm^3)"].values
Y=data["Brain Weight(grams)"].values
x_mean=np.mean(X)
y_mean=np.mean(Y)
n=len(X)
print(n)
numer=0
denom=0
for i in range(n):
    numer+=(X[i]-x_mean)*(Y[i]-y_mean)
    denom+=(X[i]-x_mean)**2
b1=numer/denom
b0=y_mean-(b1*x_mean)
print(b0,b1)

237
325.57342104944223 0.26342933948939945

In [18]:
yp=0
yf=0
for i in range(n):
    yp+=(((b1*X[i])+b0)-y_mean)**2
    yf+=(Y[i]-y_mean)**2
r=yp/yf
print(r)

0.6393117199570001