In [1]:
import matplotlib.pyplot  as plt
import numpy as np
import pandas as pd
import seaborn  as  sns
%matplotlib inline
import math

In [2]:
banknote=pd.read_csv('f:\\machine learning\\banknote.csv')

In [3]:
banknote.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [5]:
classifier=LogisticRegression()

In [9]:
y=banknote['class']

In [10]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [12]:
x=banknote.drop('class',axis=1)

In [13]:
x.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=15)

In [20]:
y_train.head()

423     0
729     0
849     1
1044    1
315     0
Name: class, dtype: int64

In [21]:
classifier.fit(x_train,y_train)

C:\Users\tahirtarik\AppData\Local\Continuum\anaconda3\envs\py3k\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [22]:
predict=classifier.predict(x_test)

In [23]:
from sklearn.metrics import confusion_matrix

In [24]:
confusion_matrix(y_test,predict)

array([[226,   2],
       [  2, 182]], dtype=int64)

In [25]:
from sklearn.metrics import accuracy_score

In [27]:
accuracy_score(y_test,predict)*100

99.02912621359224